<%= form_for(@bookset) do |f| %>
  <% if @bookset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookset.errors.count, "error") %> prohibited this bookset from being saved:</h2>

      <ul>
      <% @bookset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  
  <% if current_user %>
  		<%= f.hidden_field :omniuser_id, :value => current_user.omniuser_id %>
  
  <% elsif current_omniuser %>
  		<%= f.hidden_field :omniuser_id, :value => current_omniuser.id %>
  <% end %>
  
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
