<p>
  <b>Description:</b>
  <%= @bookset.description %>
</p>

<p>
  <b>Category:</b>
  <%= @bookset.category %>
</p>

<p>
  <b>Image url:</b>
  <%= @bookset.image %>
</p>

<% if false %>
交換できるかも。申し込みのあったユーザのブックセット一覧です<br/>
	<% @changeble_booksets.each do |changeble_bookset| %>
		
		<div><%= changeble_bookset.description %></div>
		<div><%= changeble_bookset.omniuser.name %>
			
		
		<% if current_omniuser || current_user %>
	    	<%= form_tag({:controller => "replies", :action=> "create"}) do %>
	    	<%= hidden_field :reply, :bookset_id, {:value => changeble_bookset.id }%>
	    	<%= hidden_field :reply, :omniuser_id, {:value => current_omniuser ? current_omniuser.id : current_user.omniuser.id }%>
	    	<%= submit_tag '返信する', :confirm => "返信してもOKですか？"%>
	    	<% end %>
	    <% elsif %>
	    	未ログイン
	    <% end %>
	    
	<% end %>
<% end %>

<%= link_to 'Edit', edit_bookset_path(@bookset) %> |
<%= link_to 'Back', booksets_path %>
