<p>
  <b>Description:</b>
  <%= @bookset.description %>
</p>

<p>
  <b>Category:</b>
  <%= @bookset.category %>
</p>

<p>
  <b>Image url:</b>
  <%= @bookset.image %>
</p>


<% unless @changeble_booksets.empty? %>
OFFERされたブックセットです<br/>
	<% @changeble_booksets.each do |changeble_bookset| %>
		
		<div><%= changeble_bookset.description %></div>
		<div><%= changeble_bookset.omniuser.name %></div>
			
		
		<% if current_omniuser || current_user %>
	    	<%= form_tag({:controller => "approvals", :action=> "create"}) do %>
	    	<%= hidden_field :approval, :bookset_id, {:value => changeble_bookset.id }%>
	    	<%= hidden_field :approval, :bookset_approved_id, {:value => @bookset.id }%>
	    	<%= submit_tag 'これと交換する！', :confirm => "本当にOKですか？"%>
	    	<% end %>
	    <% elsif %>
	    	未ログイン
	    <% end %>
	    
	<% end %>
<% end %>

<%= link_to 'Edit', edit_bookset_path(@bookset) %> |
<%= link_to 'Back', booksets_path %>
