<h1>Library#index</h1>
<p>Find me in app/views/library/index.html.erb</p>

<table>
  <tr>
    <th>内容</th>
    <th>カテゴリー</th>
    <th>画像</th>
    <th>所有者</th>
    <th></th>
  </tr>

  <% @items.each do |item| %>
  <tr>
  	<td><%= item.description %></td>
  	<td><%= item.category %></td>
    <td><%= item.image %></td>
    
    <td><%= link_to(item.omniuser.name, url_for(:controller => "shelf", :id => item.omniuser.id )) %></td>

    
    <td><% if current_omniuser || current_user %>
	    	<%= form_tag({:controller => "offers", :action=> "new"}) do %>
	    	<%= hidden_field :offer, :item_id, {:value => item.id}%>
	    	<%= submit_tag 'OFFER'  %>
	    	<% end %>
	    <% elsif %>
	    	未ログイン
	    <% end %>
    </td>
    
  </tr>
  <% end %>
</table>
