<h1>Library#index</h1>
<p>Find me in app/views/library/index.html.erb</p>

<table>
  <tr>
    <th>Description</th>
    <th>Category</th>
    <th>Image</th>
    <th>Omniuser_name</th>
    <th></th>
  </tr>
  
  <% @booksets.each do |bookset| %>
  <tr>
  	<td><%= bookset.description %></td>
  	<td><%= bookset.category %></td>
    <td><%= bookset.image %></td>
    
    <td><%= link_to(bookset.omniuser.name, url_for(:controller => "shelf", :id => bookset.omniuser.id )) %></td>

    
    <td><% if current_omniuser || current_user %>
	    	<%= form_tag({:controller => "offers", :action=> "new"}) do %>
	    	<%= hidden_field :offer, :bookset_id, {:value => bookset.id}%>
	    	<%= submit_tag 'OFFER'  %>
	    	<% end %>
	    <% elsif %>
	    	未ログイン
	    <% end %>
    </td>
    
  </tr>
  <% end %>
</table>
