<h1>Offers#new 自分のアイテムからオファーするものを選択する</h1>
<p>Find me in app/views/offers/new.html.erb</p>

<h2>相手のアイテム</h2>
<%= @item_offered.description %><br/>
<%= @item_offered.omniuser.name %>さん

<h2>自分のブックセット一覧</h2>
<table>
	<tr>
		<th>Description</th>
		<th>Image</th>
		<th>SUBMIT</th>
	</tr>
<% @myitems.each do |myitem| %>
	<tr>
		<td><%= myitem.description %></td>
		<td><%= myitem.image %></td>
		<td>
			<%# オファー済みならボタンを非表示にする。Offerテーブルに相手と自分のidがあればオファー済みということ %>
			<% res = Offer.where(:item_id => @item_offered.id, :item_offering_id => myitem.id) %>
			<% if res.empty? %>
					<%= form_tag({:controller => "offers", :action => "create"}) do %>
						<%= hidden_field :offer, :item_offering_id, {:value => myitem.id} %><%#オファー元（自分）のブックセットID %> 
						<%= hidden_field :offer, :item_id, {:value => @item_offered.id} %><%# オファー相手のブックセットID %> 
						<%= submit_tag "これでOFFER" %>
					<% end %>
			<% else %>
					OFFER済み
			<% end %>
		</td>
	</tr>
<% end %>
</table>
