<!DOCTYPE html>
<html>
<head>
  <title>Shelf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="user_nav">
	　　<%= link_to "Twitterでlogin","/auth/twitter" %>
	　　<%= link_to "facebookでlogin", "/auth/facebook" %>
	</div>

	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>

<%= yield %>

</body>
</html>
