<!DOCTYPE html>
<html>
<head>
  <title>Shelf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ログイン・ログアウト　-->
  <% if user_signed_in? %>
		<%# Deviseでログインした場合 %>
	    <%= current_user.omniuser.name %>さん
	    (DEVISE)omniuserIDは<%= current_user.omniuser_id %>
	    <%= image_tag(current_user.omniuser.image) %>
	    <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
	    <%= link_to "マイシェルフ", items_path %>
  <% elsif current_omniuser %>
  		<%# Omniuserでログインした場合 %>
       	<%= current_omniuser.name %>さん
       	omniuserIDは<%= current_omniuser.id %>
       	<%= image_tag(current_omniuser.image) %>
       	<%= link_to "ログアウト", logout_path %>
       	<%= link_to "マイシェルフ", items_path %>
  <% else %>
  <% #どちらでもログインしていなければ「ログイン」を表示。クリックするとログインページへ遷移させる。%>
        <%= link_to "メンバー登録", welcome_path %><br/>
        <%= link_to "ログイン", new_user_session_path %>
  <% end %>
  		<%= link_to "HOME", root_path %>
  <!-- /ログイン・ログアウト-->



		<p id="notice"><%= notice %></p>

		


<%= yield %>

</body>
</html>
