<!DOCTYPE html>
<html>
<head>
  <title>Shelf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
	
	
	
	<div id="user_nav">
	　　<% if current_omniuser %>
       <%= current_omniuser.name %>さん <%= link_to "ログアウト" ,logout_path %>
    <% else %>
       <%= link_to "Twitterでlogin","/auth/twitter" %>
       <%= link_to "facebookでlogin", "/auth/facebook" %>
    <% end %>
	</div>

	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>

<%= yield %>

</body>
</html>
